<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-6">
			<h4 class="m-b-0 _300">Welcome to {{app.name}}</h4>
			<small class="text-muted">Disposable Number App</small>
		</div>		
	</div>
</div>

<div class="padding">
    
<!------------------------------------------------------------------------------------------------------------
    Description:  Summary section
-------------------------------------------------------------------------------------------------------------->
    
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" style="background: #3D3D3D">
                    <h3 style="color: white"><i class="fa fa-file"></i>&nbsp;Revenue Summary</h3>
                </div>
                <div class="box-body text-center" ng-show="vm.dataLoading">
                    <h3><i class="fa fa-spinner fa-pulse"></i></h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-hide="vm.dataLoading">
        <div class="col-sm-6 col-xs-12">
            <div class="box">
                <div class="box-header" style="background: #2E485F">
                    <!--h3 ng-bind="vm.dailyTitle"></h3-->
                    <h3>{{vm.titles[vm.dailyCategory]}}</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline">
                            <a class="nav-link">
                                <i class="material-icons md-18">&#xe863;</i>
                            </a>
                        </li>
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <!--div class="dropdown-menu dropdown-menu-scale pull-right">
                                <a class="dropdown-item" href>Google play</a>
                                <a class="dropdown-item" href>iTunes</a>
                                <a class="dropdown-item" href>Credit card</a>
                                <a class="dropdown-item" href>Paypal</a>
                            </div-->
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="text-center m-b">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm white" ng-click="vm.ChangeDailyCategory('today')">
                                <input type="radio" name="dailyRevenue" autocomplete="off"> Today
                            </label>
                            <label class="btn btn-sm white" ng-click="vm.ChangeDailyCategory('yesterday')">
                                <input type="radio" name="dailyRevenue" autocomplete="off"> Yesterday
                            </label>
                        </div>
                    </div>
                    <ul style="list-style:none;padding:0">
                        <li>
                            <span>[+] Google Play</span>
                            <span class="pull-right" ng-bind="vm.sumGwallet[vm.dailyCategory]">
                            </span>
                        </li>
                        <li>
                            <span>[+] iTunes</span>
                            <span class="pull-right" ng-bind="vm.sumiTunes[vm.dailyCategory]"></span>
                        </li>
                        <li>
                            <span>[+] Credit Card</span>
                            <span class="pull-right" ng-bind="vm.sumCc[vm.dailyCategory]"></span>
                        </li>
                        <li>
                            <span>[+] Paypal</span>
                            <span class="pull-right" ng-bind="vm.sumPaypal[vm.dailyCategory]"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-xs-12">
            <div class="box">
                <div class="box-header" style="background: #2E485F">                    
                    <h3>{{vm.titles[vm.monthCategory]}}</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline">
                            <a class="nav-link">
                                <i class="material-icons md-18">&#xe863;</i>
                            </a>
                        </li>
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="text-center m-b">
                        <div class="btn-group" data-toggle="buttons"><!-- ng-change="vm.ChangeMonthCategory()" -->
                            <label class="btn btn-sm white" ng-click="vm.ChangeMonthCategory('current')">
                                <input type="radio" name="monthRevenue" autocomplete="off"> Current month
                            </label>
                            <label class="btn btn-sm white" ng-click="vm.ChangeMonthCategory('last')">
                                <input type="radio" name="monthRevenue" autocomplete="off"> Last month
                            </label>
                        </div>
                    </div>
                    <ul style="list-style:none;padding:0">
                        <li>
                            <span>[+] Google Play</span>
                            <span class="pull-right" ng-bind="vm.sumGwallet[vm.monthCategory]"></span>
                        </li>
                        <li>
                            <span>[+] iTunes</span>
                            <span class="pull-right" ng-bind="vm.sumiTunes[vm.monthCategory]"></span>
                        </li>
                        <li>
                            <span>[+] Credit Card</span>
                            <span class="pull-right" ng-bind="vm.sumCc[vm.monthCategory]"></span>
                        </li>
                        <li>
                            <span>[+] Paypal</span>
                            <span class="pull-right" ng-bind="vm.sumPaypal[vm.monthCategory]"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
<!------------------------------------------------------------------------------------------------------------
    Description:  Revenue Charts 
-------------------------------------------------------------------------------------------------------------->
    
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" style="background: #3D3D3D">
                    <h3 style="color: white"><i class="fa fa-bar-chart"></i>&nbsp;Revenue Charts</h3>
                </div>
                <div class="box-body text-center" ng-show="vm.dataLoading">
                    <h3><i class="fa fa-spinner fa-pulse"></i></h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-hide="vm.dataLoading">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" style="background: #2E485F">
                    <h3>Revenue statistics</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline">
                            <a class="nav-link">
                                <i class="material-icons md-18">&#xe863;</i>
                            </a>
                        </li>
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <!--div ui-jp="chart" ng-model="vm.chart1" ui-options="vm.chart1" style="height:300px" >
                    </div-->
                    <canvas class="chart chart-bar" 
                            chart-legend="true"
                            chart-colours = "vm.colours"
                            chart-data="vm.revenueData" 
                            chart-labels="vm.revenueLabels" 
                            chart-series="vm.revenueSeries" height="100px">
                    </canvas>
                </div>
            </div>
        </div>        
        
    </div>
    
        
<!------------------------------------------------------------------------------------------------------------
    Description:  Service Statistics
-------------------------------------------------------------------------------------------------------------->
    
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" style="background: #3D3D3D">
                    <h3 style="color: white"><i class="fa fa-calculator"></i>&nbsp;Service Statistics</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">                        
                        <li class="nav-item inline">
                            <a class="nav-link">
                                <i class="material-icons md-18">&#xe863;</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-body text-center" ng-show="vm.dataLoading">
                    <h3><i class="fa fa-spinner fa-pulse"></i></h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-hide="vm.dataLoading">
        <div class="col-sm-6 col-md-3">
            <div class="box">
                <div class="box-header" style="background: #2E485F">
                    <h3>New Users</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right">
                                <a class="dropdown-item" href 
                                   ng-click="vm.userCountCategory = 'today';">Today</a>
                                <a class="dropdown-item" href
                                   ng-click="vm.userCountCategory = 'yesterday';">Yesterday</a>
                                <a class="dropdown-item" href
                                   ng-click="vm.userCountCategory = 'current_month';">Current month</a>
                                <a class="dropdown-item" href
                                   ng-click="vm.userCountCategory = 'last_month';">Last month</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="text-center">
                        <h3> {{vm.titles[vm.userCountCategory]}} </h3>    
                                
                        <ul class="text-left" style="list-style:none;padding:0">
                            <li>    
                                <H4 class="inline">Android</H4>
                                <H4 class="pull-right">
                                    {{vm.dashboard['new_users'][vm.userCountCategory]['android']}}
                                </H4>
                            </li>
                            <li>
                                <H4 class="inline">iOS</H4>
                                <H4 class="pull-right">
                                    {{vm.dashboard['new_users'][vm.userCountCategory]['ios']}}
                                </H4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="box">
                <div class="box-header" style="background: #2E485F">
                    <h3>Inventory number pool</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right">
                                <a class="dropdown-item" href 
                                   ng-click="vm.inventoryCategory = 'total';">Total inventory count</a>
                                <a class="dropdown-item" href 
                                   ng-click="vm.inventoryCategory = 'available';">Inventory available count</a>
                                <a class="dropdown-item" href 
                                   ng-click="vm.inventoryCategory = 'cooling';">Inventory cooling count</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="text-center">
                        <h3> {{vm.titles1[vm.inventoryCategory]}} </h3>
                        <h1>{{vm.dashboard['inventory'][vm.inventoryCategory]}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="box">
                <div class="box-header" style="background: #2E485F">
                    <h3>Text messages</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right">
                                <a class="dropdown-item" href 
                                   ng-click="vm.messagesCategory = 'today';">Today</a>
                                <a class="dropdown-item" href 
                                   ng-click="vm.messagesCategory = 'yesterday';">Yesterday</a>
                                <a class="dropdown-item" href 
                                   ng-click="vm.messagesCategory = 'current_month';">Current month</a>
                                <a class="dropdown-item" href 
                                   ng-click="vm.messagesCategory = 'last_month';">Last month</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="text-center">
                        <h3> {{vm.titles[vm.messagesCategory]}} </h3>
                        <h1>{{vm.dashboard['messages'][vm.messagesCategory]}}</h1>
                    </div>
                </div>
            </div>
        </div>     
        <div class="col-sm-6 col-md-3">
            <div class="box">
                <div class="box-header" style="background: #2E485F">
                    <h3>Calls</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right">
                                <a class="dropdown-item" href 
                                   ng-click="vm.callsCategory = 'today';">Today</a>
                                <a class="dropdown-item" href 
                                   ng-click="vm.callsCategory = 'yesterday';">Yesterday</a>
                                <a class="dropdown-item" href 
                                   ng-click="vm.callsCategory = 'current_month';">Current month</a>
                                <a class="dropdown-item" href 
                                   ng-click="vm.callsCategory = 'last_month';">Last month</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="text-center">
                        <h3> {{vm.titles[vm.callsCategory]}} </h3>
                        <h1>{{vm.dashboard['calls'][vm.callsCategory]}}</h1>
                    </div>
                </div>
            </div>
        </div>
            
    </div>    
    
<!------------------------------------------------------------------------------------------------------------
    Description:  Service Graph 
-------------------------------------------------------------------------------------------------------------->
    
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" style="background: #3D3D3D">
                    <h3 style="color: white"><i class="fa fa-line-chart"></i>&nbsp;Service Graph</h3>
                </div>
                <div class="box-body text-center" ng-show="vm.dataLoading">
                    <h3><i class="fa fa-spinner fa-pulse"></i></h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-hide="vm.dataLoading">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" style="background: #2E485F">
                    <h3>Service Graph</h3>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline">
                            <a class="nav-link">
                                <i class="material-icons md-18">&#xe863;</i>
                            </a>
                        </li>
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <canvas class="chart chart-line" 
                            chart-legend="true"
                            chart-colours = "vm.colours"
                            chart-data="vm.usageData" 
                            chart-labels="vm.usageLabels" 
                            chart-series="vm.usageSeries" height="100px">
                    </canvas>
                </div>
            </div>
        </div>        
        
    </div>
         
</div>
