body {
    background: #2e3138;
}

nav.navbar.navbar-md.navbar-fixed-top {
    background: #2e3138;
    border-top: #f25050 3px solid;
    border-bottom: #202227 1px solid;
    color: white;
}

.btn.callmask {
    background: #f25050;
}

div.box-header,
div.box-tool,
a.nav-link {
    color: white;
}

label.ui-switch.ui-switch-sm {
    margin-top: 5px;
}
