<!-- only need a height for layout 4 -->
<div class="padding" style="min-height: 768px">    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" style="background: #3D3D3D">
                    <h3>Users</h3>
                </div>
                
                <div class="box-tool">
                    <ul class="nav">                    
                        <li class="nav-item inline">                                                          
                            
                        </li>
                        <li class="nav-item inline">
                            <a class="nav-link" ng-click="vm.GetUsers()">
                                <i class="material-icons md-18">&#xe863;</i>
                            </a>
                        </li>
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <!--div class="dropdown-menu dropdown-menu-scale pull-right">
                                <a class="dropdown-item" href>Google play</a>
                                <a class="dropdown-item" href>iTunes</a>
                                <a class="dropdown-item" href>Credit card</a>
                                <a class="dropdown-item" href>Paypal</a>
                            </div-->
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="row text-center" ng-show="vm.dataLoading">
                        <h3><i class="fa fa-spinner fa-pulse"></i></h3>
                    </div>
                    <table datatable="" 
                           dt-options="vm.dtOptions" 
                           dt-columns="vm.dtColumns" 
                           class="dt-table table table-striped table-bordered"
                           ng-hide="vm.dataLoading">
                        <!--thead class="text-white" style="background: #2E485F">
                            <tr>
                                <th>ID</th>
                                <th>Phone number</th>
                                <th>Device</th>
                                <th>App version</th>
                                <th>Platform</th>
                                <th>Platform version</th>
                                <th>Credits</th>
                                <th>Created at</th>
                                <th>Deleted</th>
                            </tr>
                        </thead>
                        <tbody>   
                            <tr ng-repeat="data in vm.dtData.data">
                                <td>{{data.id}}</td>
                                <td>{{data.phone_number}}</td>
                                <td>{{data.device}}</td>
                                <td>{{data.app_version}}</td>
                                <td>{{data.platform}}</td>
                                <td>{{data.platform_version}}</td>
                                <td>{{data.credits}}</td>
                                <td>{{data.created_at}}</td>
                                <td>{{data.deleted}}</td>
                            </tr>
                        </tbody-->
                    </table>
                </div>
            </div>
        </div>       
    </div>
</div>
