<!-- only need a height for layout 4 -->
<div class="padding" style="min-height: 768px">    
    <div class="row">
        <div class="col-xs-12">
            <div class="box" ng-hide="vm.isEditing" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <div class="box-header" style="background: #3D3D3D">
                    <h3>Users</h3>
                </div>
                
                <div class="box-tool">
                    <ul class="nav">                    
                        <li class="nav-item inline">                                                          
                            
                        </li>
                        <li class="nav-item inline">
                            <a class="nav-link" ng-click="vm.GetUsers()">
                                <i class="material-icons md-18">&#xe863;</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <table datatable="" 
                           dt-options="vm.dtOptions" 
                           dt-columns="vm.dtColumns" 
                           class="dt-table table table-striped"
                           ng-hide="vm.dataLoading" 
                           width="100%">
                    </table>
                </div>
            </div>
            <div class="box" ng-show="vm.isEditing" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <div class="box-header" style="background: #3D3D3D">
                    <h3>User Details</h3>
                </div>
                
                <div class="box-tool">
                    <ul class="nav">                    
                        <li class="nav-item inline">                                                          
                            
                        </li>
                        <li class="nav-item inline">
                            <a class="nav-link" ng-click="vm.isEditing = false;">
                                &times;
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-body">     
                    <div class="row text-center" ng-show="vm.dataLoading">
                        <h3><i class="fa fa-spinner fa-pulse"></i></h3>
                    </div>              
                </div>
            </div>
        </div>       
    </div>
</div>
