<!-- aside -->
<div id="aside" class="app-aside modal fade nav-dropdown" ng-class="{'folded': app.setting.folded}">
  	<!-- fluid app aside -->
    <div class="left navside dark dk" layout="column">
        <div class="navbar no-radius">            
            <a class="navbar-brand">
                <h1></h1>
                <img src="../assets/images/logo-160.png" alt=".">
            </a>
        </div>
        <div flex class="hide-scroll">
            <nav class="scroll nav-light">
                <div ui-include="'../views/blocks/nav.html'"></div>
            </nav>
        </div>
    </div>

</div>
<!-- / -->

<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    <div class="app-header white box-shadow">
        <div ui-include="'../views/blocks/header.html'"></div>
    </div>
    <div ui-view class="app-body" id="view" style="background: whitesmoke; height: 100%"></div>
</div>
<!-- / -->
